{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row d-flex justify-content-center">
        <div class="col-10 ">
            {{ form(form) }}
        </div>
    </div>
            {% if results is null %}
            {% elseif results is empty %}
                No results !
            {% else %}
                {# Handle results here ! #}
                {% if results[0] is isfarmer() %}
                    {# Si c'est des fermiers pas les mêmes champs #}
                    {% include '@App/search/result_farmer.html.twig' %}
                {% elseif typeSearch  == "product" %}
                    {% include '@App/search/result_product.html.twig' %}
                {% else %}
                    {% include '@App/search/result_recipe.html.twig' %}
                {% endif %}
            {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}