{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Beginning of main content -->

    <div class="main-jumbotron-blog jumbotron jumbotron-fluid">
        <div class="container">
            <div class="col-sm-12 text-center">
                <h1 class="align-middle"><span class="text-light title">&nbsp;&nbsp; BLOG &nbsp;&nbsp;</span></h1>
            </div>
        </div>
    </div>

    <div class="container">

        <!-- DYNAMIC OBJECT: foreach post in allposts -->
        {% for blog in blogs %}
        <!-- BEGIN -->
        <div class="row">
            <div class="col-sm-3">
                <!-- src of the image = post.getImg() -->
                <img class="img-fluid img-opacity" src="{{ asset(blog.image) }}" alt="{{ blog.title }}"/>
            </div>
            <div class="col-sm-9">
                <div class="post-preview">
                        <!-- h3.href = post.getTitle()-->
                    <a href="{{ path("blog_details", {"id": blog.id}) }}">
                        <h3 class="post-title">{{ blog.title }}</h3>
                    </a>
                    <!-- a.href = post.getAuthor() then p.innerHTML += post.getDate()-->
                    <p class="post-meta">Posted by <a href="#">{{ blog.author.username }}</a> on <span>{{ blog.date.format("F jS, Y") }}</span></p>
                </div>
                {% if app.user == blog.author %}
                    <a href="{{ path("edit_blog", {"id": blog.id}) }}">
                        <button type="button" class="btn btn-secondary">Modify</button>
                    </a>
                    <button type="button" class="btn btn-danger">Delete</button>
                {% endif %}
            </div>
        </div>
        <hr class="line">
        <!-- END -->
        {% endfor %}
        {% if app.user != null %}
            <a href="{{ path('add_blog') }}" class="btn btn-success btn-lg btn-block">Create a new post</a>
        {% endif %}
    </div>

    <!-- end of the main content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}