{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!-- Beginning of main content -->

    <!-- !!!!!!!!!!!!!!! DYNAMIC PAGE -> DYNAMIC CONTENT !!!!!!!!!!!!! -->

    <!-- BEGIN Step 1: Main Info-->

    <!-- Beginning of main info of the profile user -->

    <div class="jumbotron jumbotron-fluid">
        <div class="container profile">
            <!-- img.src = profile.getProfilePictureRoot() -->
            <!-- span.innerHTML = user.getName() -->
            <h1 class="display-4 "><img src="{{ asset(owner.image) }}" class="rounded-circle" width="200" alt="Circular Image"><span>{{ owner.name }}</span></h1>

            <!-- p.innerHTML = user.getDescription() -->
            <p class="lead profile-desc">In a few words: "The best farmer of Horsens"</p>

        </div>
    </div>
    <!-- END Step 1 -->


    <!-- End of main info of the profile user -->

    <!-- BEGIN Step 2: Pictures-->

    <!-- Beginning of photo gallery of the user -->

    {#<div id="photos" class="container gallery">#}

        {#<h1 class="my-4 text-center text-lg-left"><i class="fa fa-photo"> </i>Photos</h1>#}

        {#<div class="row text-center text-lg-left">#}

            {#<!-- select * from pictures where author = @currentUser -->#}
            {#<!-- foreach picture -->#}
            {#<!-- begin -->#}
            {#<div class="col-lg-3 col-md-4 col-xs-6">#}
                {#<a href="#" class="d-block mb-4 h-100">#}
                    {#<!-- img.src = picture.getRoot() -->#}
                    {#<img class="img-fluid img-thumbnail" src="assets/img/happychicken.jpg" alt="">#}
                {#</a>#}
            {#</div>#}
            {#<!-- end -->#}

            {#<div class="col-lg-3 col-md-4 col-xs-6">#}
                {#<a href="#" class="d-block mb-4 h-100">#}
                    {#<img class="img-fluid img-thumbnail" src="assets/img/happypig.jpg" alt="">#}
                {#</a>#}
            {#</div>#}
            {#<div class="col-lg-3 col-md-4 col-xs-6">#}
                {#<a href="#" class="d-block mb-4 h-100">#}
                    {#<img class="img-fluid img-thumbnail" src="assets/img/happycow.jpg" alt="">#}
                {#</a>#}
            {#</div>#}
            {#<div class="col-lg-3 col-md-4 col-xs-6">#}
                {#<a href="#" class="d-block mb-4 h-100">#}
                    {#<img class="img-fluid img-thumbnail" src="assets/img/happysheep.jpg" alt="">#}
                {#</a>#}
            {#</div>#}
            {#<div class="col-lg-3 col-md-4 col-xs-6">#}
                {#<a href="#" class="d-block mb-4 h-100">#}
                    {#<img class="img-fluid img-thumbnail" src="assets/img/recipe2.jpg" alt="">#}
                {#</a>#}
            {#</div>#}
            {#<div class="col-lg-3 col-md-4 col-xs-6">#}
                {#<a href="#" class="d-block mb-4 h-100">#}
                    {#<img class="img-fluid img-thumbnail" src="assets/img/recipe4.jpg" alt="">#}
                {#</a>#}
            {#</div>#}

        {#</div>#}

    {#</div>#}

    <!-- End of picture gallery of the user -->

    <hr class="line">

    <!-- BEGIN Step 3: Posts -->

    <!-- Beginning of posts of the user -->

    <div id="posts" class="container gallery">

        <h1 class="my-4 text-center text-lg-left"><i class="fa fa-file-text-o"> </i>Posts</h1>


        <!-- select * from posts where author = @currentUser -->
        <!-- foreach post -->
        {% for post in posts %}
        <!-- begin -->
        <div class="row">
            <div class="col-sm-4">
                <!-- img.src = post.getImageRoot() -->
                <!-- img.alt = post.getTitle() -->
                <a href="{{ path('blog_details', {'id': post.id}) }}">
                    <img class="img-fluid" src="{{ asset(post.image) }}" alt="{{ post.title }}"/>
                </a>
            </div>
            <div class="col-sm-8">
                <!-- h3.innerHTML = post.getTitle() -->
                <h3>{{ post.title }}</h3>
                {% if app.user == post.author %}
                    <a href="{{ path('modify_blog', {"id" : post.id}) }}">
                        <button type="button" class="btn btn-secondary">Modify</button>
                    </a>
                    <button type="button" class="btn btn-danger">Delete</button>
                {% endif %}
            </div>
        </div>
        <hr class="line">
        <!-- end -->
        {% endfor %}


    </div>

    <!-- End of posts of the user -->

    <!-- Beginning of posts of the user -->

    <div id="recipes" class="container gallery">

        <h1 class="my-4 text-center text-lg-left"><i class="fa fa-file-text-o"> </i>Recipes</h1>


        <!-- select * from posts where author = @currentUser -->
        <!-- foreach post -->
        {% for recipe in recipes %}
            <!-- begin -->
            <div class="row">
                <div class="col-sm-4">
                    <!-- img.src = post.getImageRoot() -->
                    <!-- img.alt = post.getTitle() -->
                    <a href="{{ path('explore_recipe_details', {'id': recipe.id}) }}">
                        <img class="img-fluid" src="{{ asset(recipe.image) }}" alt="{{ recipe.title }}"/>
                    </a>
                </div>
                <div class="col-sm-8">
                    <!-- h3.innerHTML = post.getTitle() -->
                    <h3>{{ recipe.title }}</h3>
                    <p>{{ recipe.description }}</p>
                    {% if app.user == recipe.author %}
                        <a href="{{ path('modify_recipe', {"id" : recipe.id}) }}">
                            <button type="button" class="btn btn-secondary">Modify</button>
                        </a>
                        <button type="button" class="btn btn-danger">Delete</button>
                    {% endif %}
                </div>
            </div>
            <hr class="line">
            <!-- end -->
        {% endfor %}


    </div>

    <!-- End of posts of the user -->

    <!-- Beginning of posts of the user -->

    <div id="products" class="container gallery">

        <h1 class="my-4 text-center text-lg-left"><i class="fa fa-file-text-o"> </i>Recipes</h1>


        <!-- select * from posts where author = @currentUser -->
        <!-- foreach post -->
        {% for product in products %}
            <!-- begin -->
            <div class="row">
                <div class="col-sm-4">
                    <!-- img.src = post.getImageRoot() -->
                    <!-- img.alt = post.getTitle() -->
                    <a href="{{ path('product_details', {'id': product.id}) }}">
                        <img class="img-fluid" src="{{ asset(product.image) }}" alt="{{ product.title }}"/>
                    </a>
                </div>
                <div class="col-sm-8">
                    <!-- h3.innerHTML = post.getTitle() -->
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.content }}</p>
                    {% if app.user == product.author %}
                        <a href="{{ path('modify_product', {"id" : product.id}) }}">
                            <button type="button" class="btn btn-secondary">Modify</button>
                        </a>
                        <button type="button" class="btn btn-danger">Delete</button>
                    {% endif %}
                </div>
            </div>
            <hr class="line">
            <!-- end -->
        {% endfor %}


    </div>

    <!-- End of posts of the user -->

    <!-- end of the main content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}