{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
    {{ form_start(form) }}
    <div class="col-10">
        {{ form_widget(form.name) }}
    </div>
    <div class="col-10">
        {{ form_widget(form.email) }}
    </div>
    <div class="col-10">
        {{ form_widget(form.username) }}
    </div>
    <div class="col-10">
        {{ form_widget(form.plainPassword) }}
    </div>
    <div class="col-10">
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}